<h1>Enter a new password'</h1>

<form action='/foo' method='post'>
  New password: <input name='password' type='password'>
  Confirm new password: <input name='password_confirmation' type='password'>
  <input type='submit' value='Done'>
</form>